:root {
  --title-color: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration-line: none;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}

/**-------------------------------header-----------------------------------**/

.header {
}
.header-navigation {
}
.logo {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo span {
  color: #2e2f42;
}
.header-list-item {
}
.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--title-color);
}
.header-adress-list {
}
.header-adress-item {
}
.header-adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/**--------------------------------hero-------------------------------**/

.hero {
}
.hero-header {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.hero-btn {
  color: var(--white, #fff);
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

/**--------------------------------studio--------------------------------**/

.studio {
}
.studio-list {
}
.studio-list-item {
}
.studio-list-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--title-color);
}
.studio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/**----------------------------------portfolio----------------------------**/
.portfolio {
}
.portfolio-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: var(--title-color);
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-img {
}

/**----------------------------------contacts--------------------------------**/

.contacts {
}
.contacts-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: var(--title-color);
}
.contacts-list {
}
.contacts-list-item {
}
.contacts-img {
}
.contacts-list-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--title-color);
}
.contacts-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/**-----------------------------footer----------------------------------------**/

.footer {
}
.footer-logo {
  color: var(--cloud, #f4f4fd);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 1.07;
  letter-spacing: 0.54px;
}
.footer-logo span {
  color: #f4f4fd;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/**-------------------------------------------second page------------------------**/

.Examples-list {
}
.Examples-list-item {
}
.Examples-text-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--alternaive-color);
  background-color: #f4f4fd;
}
.Examples-text-button:hover {
  color: var(--white, #fff);
  background-color: var(--ocean, #404bbf);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

/**--------------------------------------------Main photos-----------------------**/

.options-list {
}
.options-list-item {
}
.options-img {
}
.options-list-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--title-color);
}
.options-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
