:root {
  --primary-navy-blue: #2e2f42;
  --primary-cloud-grey: #f4f4fd;
  --primary-white: #ffffff;
  --primary-blue: #4d5ae5;
  --primary-slate: #434455;
  --secondary-active-ocean: #404bbf;
  --secondary-active-green: #31d0aa;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white);
  color: var(--primary-slate);
}

/* Header */

/* .header{
    background-color: var(--primary-white);
} */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-blue);
}

.studio-color {
  color: var(--primary-navy-blue);
}

.link {
  text-decoration: none;
}

.header .list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-navy-blue);
  list-style: none;
}

.nav .link {
  text-decoration: none;
  color: var(--primary-navy-blue);
}

.nav .link:hover,
.nav .link:focus {
  color: var(--secondary-active-ocean);
}

address {
  font-style: normal;
}

.header-contacts .list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate);
  list-style: none;
  font-style: normal;
}

/* .contacts-link {
    font-style: normal;
} */

.header-contacts .link {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-slate);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--secondary-active-ocean);
}

/* Footer */

.footer {
  background-color: var(--primary-navy-blue);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-blue);
}

.studio-footer {
  color: var(--primary-cloud-grey);
}

.footer .link {
  text-decoration: none;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-cloud-grey);
}

/* Index page styles */

/* Index page -  Hero Section*/

.hero-section {
  background-color: var(--primary-navy-blue);
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white);
  background-color: var(--primary-blue);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--secondary-active-ocean);
}

/* Index page -  Benefits Section*/

/* .benefits-section {} */

.benefits-section .list {
  list-style: none;
}

/* .benefits-list-item {} */

.benefits-item-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-navy-blue);
}

.benefits-item-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate);
}

/* Index page -  What are we doing Section*/

/* .doing-section {} */

.doing-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-navy-blue);
}

.doing-section .list {
  list-style: none;
}

/* .doing-list-item {} */

/* img? */

/* Index page -  Our team Section*/

.team-section {
  background-color: var(--primary-cloud-grey);
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-navy-blue);
}

.team-section .list {
  list-style: none;
}

.team-list-item {
  background-color: var(--primary-white);
}

/* img? */

.team-item-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-navy-blue);
}

.team-item-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-slate);
}

/* Portfolio page styles */

/* Portfolio page -  Buttons nav menu*/

.portfolio-page .list {
  list-style: none;
}

.portfolio-page .buttons-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-blue);
  background-color: var(--primary-cloud-grey);
  cursor: pointer;
}

.portfolio-page .buttons-btn:hover,
.portfolio-page .buttons-btn:active,
.portfolio-page .buttons-btn:focus {
  color: var(--primary-white);
  background-color: var(--secondary-active-ocean);
}

/* Portfolio page -  Portfolio items*/

.portfolio-items .list {
  list-style: none;
  text-decoration: none;
}

/* .portfolio-list-item {} */

.portfolio-item .link {
  text-decoration: none;
}

.portfolio-item-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-navy-blue);
}

.portfolio-item-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate);
}
